

html,
body {
  font-size: 18px;
  font-family: 'Helvetica', sans-serif;
  color: white;
}

.container {
  margin: auto;
  max-width: 960px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}




.logo {
  width: 100%;
  background-color: black;

}

.logo img {
  height: 1.5rem;
  align-items: center;
  display: flex;

}

.logo span {
  font-size: 1rem;
  padding-left: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  display: inline-flex;
}

.image-container {
  background-image: url('../images/moto.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

.headline {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  top: 9rem;
  position: relative;
}

.headline h4 {
  font-weight: bold;
  padding-bottom: 0.25rem;

}

.headline h1 {
  font-size: 2rem;
  font-weight: bold;
  flex-wrap: wrap;

}

.nav-container {
  background-color: firebrick;

}

.menu {
  width: auto;
  color: white;
}

nav ul {
  align-items: center;
  justify-content: space-between;
  list-style: none;
  display: flex;
}

li {

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}


.categories {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 2rem;
}

.category {
  width: 30%;
  height: 15rem;
}

.category p {
  text-align: center;
  background-color: black;
  padding: 0.5rem 0rem;
  width: 0 auto;
  align-self: flex-end;
}

.cat-img img {
  max-width: 8rem;
}

.cat-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0rem;
  border: 4px solid black;
}


.location-hours {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}


.bground {
  background-color: black;
  padding: 1rem 0rem 1rem 2rem;
  }

.location,
.hours {
  width: 35%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.black-text {
  color: black;
}

footer {
  background-color: black;
  padding: 5rem 0rem;
  margin-top: 4rem;
}



@media only screen and (min-width: 960px) {
  .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  nav {
    display: none;
  }

  .mobile-menu {
    display: block;
    text-align: center;
    justify-content: space-around;
  }

  .category {
    width: 47%;  */not working*/
  }

  .glasses {
    display: none;
  }

  .location,
  .hours {
    width: 35%; */not working*/
  }


@media only screen and (max-width: 600px) {

  .headline h4 {
    font-size: 0.77rem;
  }

  .headline h1 {
    font-size: 1rem;
  }

  .headline {
    padding: 1rem 2rem;
    margin-top: 10rem;
    position: relative;
  }

  .mobile-menu {
    display: block;
    text-align: center;
  }

   .category {
    width: 90%; */not working*/
  }

  .watches {
    display: none;
  }

  .location-hours {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .location,
  .hours {
    width: 90%;  */might be not working*/
  }

  .hours {
    padding-top: 0.5rem;
  }

  .container span {
  text-align: center;
}
